@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.feedback-form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  max-width: 410px;
  padding: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  gap: 8px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 360px;
  height: 40px;
  padding: 3%;
  outline: none;
}

input:hover {
  border: 1px solid #000;
}

textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 360px;
  height: 80px;
  resize: none;
  padding: 3%;
  outline: none;
}

textarea:hover {
  border: 1px solid #000;
}

button {
  background-color: #4e75ff;
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 95px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: #6c8cff;
}
